<b>5 newest publications in Zenodo with NFDI* keyword</b><p>Optimizing User Support through Synergistic Integration of Helpdesk Systems</p>
<a href="https://zenodo.org/record/8356211" target="_blank">Click here to get to zenodo</a><hr><p>Managing your Research Data with DataPLANT</p>
<a href="https://zenodo.org/record/8355914" target="_blank">Click here to get to zenodo</a><hr><p>Combining the BIDS and ARC Directory Structures for Multimodal Research Data Organization</p>
<a href="https://zenodo.org/record/8349563" target="_blank">Click here to get to zenodo</a><hr><p>Technical specification for single point of access and process model (NFDI4Earth Deliverable D1.3.12)</p>
<a href="https://zenodo.org/record/8345023" target="_blank">Click here to get to zenodo</a><hr><p>First draft of resource information types (protocols, vocabularies, metadata schemes) in use in NFDI4Earth (NFDI4Earth Deliverable D3.2.1)</p>
<a href="https://zenodo.org/record/8344901" target="_blank">Click here to get to zenodo</a><hr>