<h1>BERD@NFDI</h1> 
<p>The Public Good Statistics – Infrastructure for Decision Making, Research, and Discourse</p>
<p>BERD Academy Program October & November</p>
<p>Data Science Insights with Andreas Hamann at MCDS</p>
<p>DSSG Lecture Series</p>
<p>Data Science for Social Good (DSSG) hands-on summer program</p>
<p>iVA3: Your Interactive Virtual Assistant for Data Protection</p>
<p>Smartphone Sensor Data for your Social Research</p>
<a href="https://www.berd-nfdi.de/category/news/" target="_blank">Click here to get to website</a>