<h1>DAPHNE4NFDI</h1> 
<p>DAPHNE4NFDI @ "Datenräume in Deutschland und Europa gestalten"</p>
<p>DAPHNE4NFDI Annual meeting</p>
<p>New Deep Learning Workshops</p>
<a href="https://www.daphne4nfdi.de/english/84.php" target="_blank">Click here to get to website</a>