<h1>DataPLANT</h1> 
<p>DataPLANT participates in Base4NFDI IAM workshop on Community AAI solutions</p>
<p>DataPLANT participates in the Base4 initialization phase proposal nfdi.software</p>
<p>DataPLANT at the Open-Science-Festival</p>
<p>DataPlant Scientific Board Meeting</p>
<p>DataPLANT participated in the 15th International Workshop on Science Gateways</p>
<p>RPTU Summer School on Fundamentals of Research Data Management</p>
<p>DataPLANT is providing an updated training and demonstration environment for its tools and services accessible remotely</p>
<a href="https://www.nfdi4plants.de/news.html" target="_blank">Click here to get to website</a>