<h1>FAIRmat</h1> 
<p>FAIR4Chem Award 2024 - Application open!</p>
<p>Seminar video now online</p>
<p>FAIRmat podcasts now online!</p>
<p>Colloquium video now online</p>
<p>Congratulations to Prof. Dr. Erich Runge</p>
<p>We are hiring!</p>
<p>Tutorial videos now available</p>
<a href="https://www.fairmat-nfdi.eu/fairmat/news-fairmat?ctx=FAIRMAT" target="_blank">Click here to get to website</a>