<h1>FAIRagro</h1> 
<p>FAIRagro at the 2nd BioHackathon Germany</p>
<p>We attented the CoRDI Conference</p>
<p>Help needed with Research Data Management? Our Data Stewards are here for you!</p>
<p>"FAIRagro gives us new impulse"</p>
<p>Exciting Jobs at FAIRagro!</p>
<p>New presentation from the FAIRagro plenary</p>
<p>FAIRagro at PhenoRob Career Fair</p>
<a href="https://fairagro.net/index.php/en/get-informed/news-2" target="_blank">Click here to get to website</a>