<h1>GHGA</h1> 
<p>New Podcast Episode about Next generation Sequencing</p>
<p>GHGA White Paper on patient involvement</p>
<p>GDI releases Starter Kit</p>
<p>GHGA Retreat 2023 - celebrating 1000 days of GHGA!</p>
<p>GHGA at the International Workshop on Science Gateways 2023</p>
<p>GHGA joined European life sciences data infrastructure’s gathering in Dublin</p>
<p>Release of version 0.9.1 of the GHGA Metadata Model</p>
<a href="https://www.ghga.de/news" target="_blank">Click here to get to website</a>