<h1>KonsortSWD</h1> 
<p>RatSWD and KonsortSWD at CoRDI 2023</p>
<p>Implementation of a guest researcher workstation in the RDCnet</p>
<p>RatSWD final report published</p>
<p>Cooperation between KonsortSWD and Text+</p>
<p>RatSWD starts its 8th appointment period</p>
<p>66th Meeting of the German Data Forum (RatSWD) with old and new members</p>
<p>Standard questionnaire usable with LimeSurvey</p>
<a href="https://www.konsortswd.de/en/latest/updates/" target="_blank">Click here to get to website</a>