<h1>MaRDI</h1> 
<p>MaRDI Barcamp</p>
<p>One Day Course</p>
<p>First NFDI BB Meeting</p>
<p>Maths meets information specialists</p>
<p>Dedicated MaRDI Session</p>
<p>MaRDI Mini Symposium:
Towards a digital infrastructure for mathematical research</p>
<p>Online Course on Knowledge Graphs - Foundations and Applications</p>
<a href="https://www.mardi4nfdi.de/news" target="_blank">Click here to get to website</a>