<h1>NFDI4Cat</h1> 
<p>Programming Skills – A Valuable Asset for the Future!</p>
<p>Prof. Jennifer Strunk reports</p>
<p>New exciting publication with acknowledgements to NFDI4Cat</p>
<p>Interview: Next Level of Catalysis Research</p>
<p>NFDI Physical Sciences Colloquium with Dr. Egon Willighagen</p>
<p>Job advertisement: student trainee „Science Communication”</p>
<p>New YouTube channel for NFDI4Cat</p>
<a href="https://nfdi4cat.org/en/news" target="_blank">Click here to get to website</a>