<h1>NFDI</h1> 
<p>Task Force Evaluation and Reporting publishes white paper “Dealing with BLV goals as a basis for structural evaluation”</p>
<p>Public evening lecture @CoRDI: Julia Janssen – Behind the Click (english)</p>
<p>Funding of new NFDI Basic Services for Persistent Identifiers and Terminologies</p>
<p>Register now for the 1st Conference on Research Data Infrastructure (CoRDI)!</p>
<p>Industry Engagement: Speaker elected and section concept published</p>
<p>IAM4NFDI: Identity and access management starts path to NFDI-wide basic service</p>
<p>New section Industry Engagement coordinates cooperation with industry</p>
<a href="https://www.nfdi.de/news/?lang=en" target="_blank">Click here to get to website</a>