<h1>NFDI4Energy</h1> 
<p>13.07.2023 Save the date for the 1st NFDI4Energy conference on 20 to 21 February 2024!</p>
<p>22.02.2023 NFDI4Energy successfully started with a Kickoff!</p>
<p>04.11.2022 NFDI4Energy will be funded!</p>
<p>08.08.2022</p>
<p>06.07.2022</p>
<p>28.06.2022</p>
<a href="https://nfdi4energy.uol.de/sites/news/" target="_blank">Click here to get to website</a>