<h1>NFDIxCS</h1> 
<p>NFDIxCS auf der Conference on Research Data Infrastructure 2023</p>
<p>NFDIxCS: Informatik-Forschungsdateninfrastruktur auf der GI-Präsidiumssitzung vorgestellt</p>
<p>Informatik-Forschungsdateninfrastruktur ist auf dem Weg</p>
<p>NFDIxCS wird Forschungsdatenmanagment für die Informatik aufbauen</p>
<p>INFORMATIK 2022: Forschungsdatenmanagement in der Informatik</p>
<p>Positive Signale für NFDIxCS</p>
<p>FDM-Tools: Werkzeuge zum Management von Forschungsdaten</p>
<a href="https://nfdixcs.org/news" target="_blank">Click here to get to website</a>