<h1>NFDI4Objects</h1> 
<p>Community Meeting and General Assembly</p>
<p>Ready, steady, go!</p>
<p>NFDI4Objects approved</p>
<p>N4O for DFG review</p>
<p>Application submitted for NFDI4Objects</p>
<p>Deadline for the submission of NFDI applications in the third round</p>
<a href="https://www.nfdi4objects.net/index.php/en/category/news" target="_blank">Click here to get to website</a>