<h1>NFDI4DataScience</h1> 
<p>NFDI Science Slam</p>
<p>NFDI4DS Mini Hackathons</p>
<p>Workshop RDI4DS at INFORMATIK 2023</p>
<a href="https://www.nfdi4datascience.de/news/" target="_blank">Click here to get to website</a>