<h1>NFDI4Earth</h1> 
<p>DataXplorers Hackathon -...</p>
<p>Werkstattgespräch zum Thema...</p>
<p>NFDI4Earth @ CoRDI conference</p>
<p>DataXplorers, save the date!</p>
<p>Workshop How to create...</p>
<p>CfP Advances on FAIR...</p>
<p>NFDI4Earth Incubator Call is...</p>
<a href="https://www.nfdi4earth.de/home/news" target="_blank">Click here to get to website</a>