<h1>NFDI4BIOIMAGE</h1> 
<p>2023-12-11: Joint NFDI4BIOIMAGE & DataPLANT project offered at the 2nd de.NBI Biohackathon Germany in Bielefeld.</p>
<p>2023-08-28: BioImage Analysis Training School and Symposium co-organized by our co-applicant institution TU Dresden</p>
<p>2023-04-26: First in-person Steering Board Meeting of NFDI4BIOIMAGE</p>
<p>2023-03-07: Workshop Announcement: 2nd Workshop on FAIR Data in Plasma Science - May 3rd & 4th</p>
<p>2023-03-01: Official start of the funding phase</p>
<p>2022-02-06: Presentation on microscopy image data management by members of NFDI4BIOIMAGE</p>
<p>2022-11-04: NFDI4BIOIMAGE is approved by the Joint Science Conference as one of eight new NFDI consortia starting in 2023</p>
<a href="https://nfdi4bioimage.de/en/start/" target="_blank">Click here to get to website</a>