<h1>NFDI4Immuno</h1> 
<p>NDFI4Immuno is recommended for funding</p>
<p>NDFI4Immuno coordination workshop</p>
<p>Workshop Biomedical consortia in NDFI</p>
<a href="https://www.nfdi4immuno.de/news/" target="_blank">Click here to get to website</a>