<h1>NFDI4Chem</h1> 
<p>Another ELN made available for testing</p>
<p>This is no Data</p>
<p>BAM joins NFDI4Chem</p>
<p>NFDI4Chem @ RDA Plenary 20</p>
<p>RDM-Workshop in Stuttgart – soon at your institute?</p>
<p>NFDI4Chem at ACS Spring and Fall</p>
<p>Author Guideline Landscape</p>
<a href="https://www.nfdi4chem.de/recent-news" target="_blank">Click here to get to website</a>