<h1>NFDI4Biodiversity</h1> 
<p>Scientific Coordination (m/f/d) Research Data Management and Training in the project WiNoDa, up to EG 13 TV\u00f6D Bund, limited to three years</p>
<p>Knowledge Management and Helpdesk Support (m/f/d), up to EG 11 TV\u00f6D Bund, limited to three years</p>
<p>DataXplorers Hackathon: Registration open!</p>
<p>Concept publication offers insights into NFDI4Biodiversity Winterschool 2022</p>
<p>Bayern4NFDI: So war das erste Vernetzungstreffen der bayerischen NFDI-Beteiligten in M\u00fcnchen</p>
<p>Interesting project for biodiversity researchers: Partners wanted for the processing of historical forestry data</p>
<p>Image-based biodiversity research with BIIGLE</p>
<a href="https://www.nfdi4biodiversity.org/en/news/" target="_blank">Click here to get to website</a>