<h1>NFDI-MatWerk</h1> 
<p>Cultural Change and FAIR Data: Julia Mohrbacher reports from #CoRDI2023</p>
<p>Last day at CoRDI: Emphasizing Interdisciplinary Exchange</p>
<p>Live from CoRDI: Day Two with NFDI-MatWerk!</p>
<p>NFDI-MatWerk @CoRDI 2023</p>
<p>Deep Dive into Knowledge Graphs with Prof. Harald Sack 🌐</p>
<p>Digitalchangemaker Accelerator and Fellowships</p>
<p>NFDI-Matwerk Summer School 2023 – Research Data Management in Materials Science and Engineering</p>
<a href="https://nfdi-matwerk.de/news-archiv" target="_blank">Click here to get to website</a>