<h1>NFDI4Memory</h1> 
<p>Meet NFDI4Memory auf dem Historikertag 2023 in Leipzig!</p>
<p>Empfehlung: Interessante Buchneuerscheinung</p>
<p>Empfehlung: OpenHPI Kurs – Knowledge Graphs</p>
<p>NFDI4Memory startet Umfrage zu Data Literacy</p>
<p>NFDI4Memory fördert innovative Projektideen!</p>
<p>SAVE THE DATE – NFDI4Memory Community Forum und General Assembly 2023</p>
<p>Wahl der Sprecher/in und Stellvertetung im NFDI4Memory-Konsortium gemäß NFDI-Satzung</p>
<a href="https://4memory.de/blog/" target="_blank">Click here to get to website</a>