<h1>NFDI4Ing</h1> 
<p>Who is Doris?</p>
<p>ing.grid – publishing, growing, improving</p>
<p>Register now for the NFDI4Ing Conference 2023</p>
<p>SOFIRpy: Enhancing Research Data Management and Code Documentation in Python</p>
<p>Are you interested in data models and their industrial applications? Join the NFDI4Ing Community Meeting on August 10th!</p>
<p>Betty’s (Re)Search  Engine</p>
<p>New release of Metadata4Ing Ontology now online!</p>
<a href="https://nfdi4ing.de/news/" target="_blank">Click here to get to website</a>