<h1>NFDI4Culture</h1> 
<p>Knowledge Graphs - Foundations and Applications</p>
<p>RADAR4Culture: Quickstart Guide for data providers published</p>
<p>#arthistoCast – the Digital Art History Podcast</p>
<p>Workshop Series "Four Steps to more Sustainability. Data Quality Strategies for Museums and Collections"</p>
<p>Report on the 5th meeting of the Expert Forum "Sustainable Software Development"</p>
<p>Suggestions for projects/measures „(Further) development of Research Tools & Data Services in NFDI4Culture</p>
<p>4Culture Barcamp 2023: 3D research data for material cultural heritage – Report</p>
<a href="https://nfdi4culture.de/news.html" target="_blank">Click here to get to website</a>