<h1>NFDI4Microbiota</h1> 
<p>First Use Case MetaProt workshop: Applied metaproteomics from 2023-09-18 till 09-22 in Magdeburg</p>
<p>NFDI4Microbiota Flex Funds 2024 call open until 2023-08-20</p>
<p>NFDI4Microbiota lecture talks live webcast</p>
<p>NFDI4Microbiota world cafÃ© on Electronic Lab Notebooks (ELNs)</p>
<p>Wind of change - sharing is caring! How to improve research data and its benefits in the Life Sciences</p>
<p>Workshop by NFDI4Microbiota at the 1st Biohackathon Germany</p>
<p>Feedback from NFDI4Health, GHGA and NFDI4Microbiota on the positions and recommendations of the German Council of Science and Humanities - Digitization and data use for health research and care.</p>
<a href="https://nfdi4microbiota.de/latest/news" target="_blank">Click here to get to website</a>