<h1>PUNCH4NFDI</h1> 
<p>Workshops in June 2023</p>
<p>Deliverables Q1 2023</p>
<p>IceCube kaggle competition ended</p>
<a href="https://www.punch4nfdi.de/news_amp_events/news/" target="_blank">Click here to get to website</a>