<h1>Text+</h1> 
<p>DFG Practical Guidelines on Digitisation – Updated Version 2022 Published on Zenodo</p>
<p>Hot off the press: The Text+ Blog is online</p>
<p>Plenary 2022</p>
<p>Solidarity Statement</p>
<p>Einladung zum öffentlichen Tag der Frühjahrstagung am 2. März 2022</p>
<a href="https://www.text-plus.org/en/news-events/news/" target="_blank">Click here to get to website</a>